.button {
  border:none;
  background: #eeee;
  color:orangered;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  transition: 300ms;
}

.button:hover {
  cursor: pointer;
  background: orangered;
  color:#000;
  border:2px double #000;
  box-shadow: 5px 2px 8px #000;
}
.button:disabled {
  background:#888;  
  cursor: not-allowed;
}